<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Borrando una Categoria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/formulario.css}" rel="stylesheet" />
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="header-container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!--            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">-->
            <!--                <img src="../static/assets/imagenes/Logo.png" alt="logo" width="100" height="90">SERVICE+-->
            <!--            </a>-->

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-secondary logo"><img class="img-header" src="https://drive.google.com/uc?id=17FvOE5zIHqZJNz-XgZhKY-irwDM2GeB2" alt="logo"><b class="letra">  SERVICE+</b></a></li>

                <!--        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
            </ul>

            <!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
            <!--                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
            <!--            </form>-->



            <!--            <div class="text-end" sec:authorize="isAuthenticated()">-->
            <!--                <button type="button" class="btn btn-outline-light me-2 botones"><a th:href="@{/}" class="nav-link px-2 text-secondary" style="color:#d8e3e9" >Perfil</a></button> &lt;!&ndash;TODO llenar ruta th:href="@{/}&ndash;&gt;-->
            <!--                <button type="button" class="btn btn-warning botones"><a th:href="@{/logout}" class="nav-link px-2 text-secondary" style="color:#d8e3e9" >Cerrar Sesión</a></button>-->
            <!--            </div>-->
            <div class="text-end" sec:authorize!="isAuthenticated()">
                <button type="button" class="btn btn-outline-light me-2 botones"><a th:href="@{/login}" style="color:#d8e3e9"  class="nav-link px-2 text-secondary">Iniciar Sesión</a></button>
                <button type="button" class="btn btn-warning botones"><a th:href="@{/registrar}" style="color:#d8e3e9" class="nav-link px-2 text-secondary">Registrarse</a></button>
            </div>

        </div>
    </div>
</header>

<div class="container">
    <form th:action="@{/admin/confirmarBorrar/__${categoria.id}__}" class="formulario" method="post">

        <input hidden th:value="${categoria.id}" name="id">

        <div class="form-group">
            <h3> Borrar una Categoria de Servicio</h3>

            <ul>
                <li>NOMBRE: <span th:text="${categoria.nombre}"></span></li>
                <li>DESCRIPCION: <span th:text="${categoria.descripcion}"></span> </li>

            </ul>
        </div>

        <button type="submit" class="btn btn-primary mt-3 botones">Borrar</button>

        <section class=" text-center container">
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/admin/listarCategorias}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        </section>


    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>