<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <title>Lista de Proveedores</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <link th:href="@{/css/list_proveedores.css}" rel="stylesheet" />
  </head>

   <body>
      <header th:replace="/fragments/header :: header"> </header>

        <div class="container m-10">
          <form class="formularioLista" th:action="@{/listarPorCategoria}"  method="POST">
            <div class="form-group my-3">
              <label for="categoria-filtrar" style="display: inline; font-weight: bold">Filtrar por categoría: </label>
              <select class="select-css" name="categoria" id="categoria-filtrar">
                <option>Todos</option>
                  <option th:each="cat : ${categoriaServicio}"
                          th:value="${cat.nombre}"
                          th:text="${cat.nombre}"
                          th:selected="${categoriaSeleccionada == cat}"
                  />
              </select>
              <button type="submit" class="botones btn btn-primary">Filtrar</button>
            </div>
          </form>

              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div th:if="${proveedores != null}" th:each="prov : ${proveedores}"  class="col">

                    <div class="card shadow-sm">
                        <div class="foto">
                          <img th:if="${prov.imagen != null}" class="foto" th:src="@{/pictures/__${prov.imagen}__}">
                          <img th:if="${prov.imagen == null}"  class="foto" src="https://drive.google.com/uc?id=1cmb9ITlL4Pf2AUEVMKFvTAsogeBpRKpq">
                        </div>

                      <div class="card-body">
                        <br>
                        <ul>
                          <li> <b>Nombre: </b><span th:text="${prov.nombre}"></span> </li>
                          <li> <b>Apellido: </b><span th:text="${prov.apellido}"></span> </li>
<!--                <li> Email: <span th:text="${prov.email}"></span></li>-->
<!--                <li> Telefono: <span th:text="${prov.telefono}"></span></li>-->
                          <li> <b>Precio Por Hora: </b><span th:text="${prov.precioPorHora}"></span> </li>
                          <li> <b>Categoria de Servicio: </b>
                            <span th:if="${prov.categoriaServicio != null}" th:text="${prov.categoriaServicio.nombre}"></span>
                            <span th:if="${prov.categoriaServicio == null}"> Sin categoria asignada</span>
                          </li>
                          <li> <b>Calificacion Promedio: </b>
                          <span th:if="${prov.calificacion != null}" th:text="${prov.calificacion}"></span>
                          <span th:if="${prov.calificacion == null}" >s/c</span><br>
                            <b>Cantidad de Calificaciones: </b><span th:if="${prov.calificacion != null}" th:text="${provServicio.cantidadCalificacionesDeUnProveedor(prov.id)}"></span>
                            </span>
                            <span th:if="${prov.calificacion == null}">s/c</span>
                          </li>
                          <li> <b>Cometarios recibidos: </b>
                            <span th:if="${provServicio.cantidadComentariosDeUnProveedor(prov.id) != 0}"><span th:text="${provServicio.cantidadComentariosDeUnProveedor(prov.id)}"></span></span>
                            <span th:if="${provServicio.cantidadComentariosDeUnProveedor(prov.id) == 0}">s/c</span>
                          </li>
                        </ul>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <p> Para ver detalles de contacto, por favor registrese <a th:href="@{/registrar}">aquí</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            <div th:if="${proveedores == null}">
              <h3> No se encuentran resultados para la búsqueda de proveedores por la categoría seleccionada, por favor seleccione una nueva categoría.</h3>
            </div>


            <section class=" text-center container">
              <div class="row mt-3">
                <div class="divVolver" th:if="${session.usuariosesion != null}">
                  <div class="divVolver">
                    <a th:if="${session.usuariosesion.rol.toString().equals('ADMIN')}" th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                  </div>
                  <div class="divVolver">
                    <a th:if="${!session.usuariosesion.rol.toString().equals('ADMIN')}" th:href="@{/iniciado/__${session.usuariosesion.id}__-__${session.usuariosesion.rol}__}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                  </div>
                </div>
                  <div class="divVolver" th:if="${session.usuariosesion == null}">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                  </div>
                </div>
              </section>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

   </body>
</html>