<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Registrar Trabajo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link th:href="@{/css/registro_proveedor.css}" rel="stylesheet" />

</head>
<body>
<header th:replace="/fragments/header :: header"> </header>

<div class="container-fluid contenedor">
    <div class="form-group my-3 campo">
      <form class="formulario" th:action="@{/trabajo/registrarConListarProveedoresSegunCategoria/__${session.usuariosesion.id}__}"  method="POST">
        <div class="form-group my-3">
          <label for="categoria-filtrar"> Seleccione una Categoria para solicitar el trabajo</label>
          <select name="categoria" id="categoria-filtrar">


            <option th:each="cat : ${categoriaServicio}"
                    th:value="${cat.nombre}"
                    th:text="${cat.nombre}"
                    th:selected="${categoriaSeleccionada == cat}"
            />
          </select>
          <button type="submit" class="botones">Mostrar Proveedores</button>
        </div>

      </form>
    </div>
  <form class="shadow p-3 mb-5 bg-body-tertiary rounded formulario" th:action="@{/trabajo/registro}"  method="POST">

    <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
      <div class="card-body">
        <h5 class="card-title">Error 👎</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
      <div class="card-body">
        <h5 class="card-title">Exito!</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>



    <h2 class="mb-2">Registrar un Trabajo</h2>
    <div class="form-group my-3 seleccion">
      <label> Cliente: <span style="font-weight:bolder;"  th:text="${cliente.getNombreCompleto()}"></span></label>
      <input name="idCliente" hidden th:value="${cliente.id}">
    </div>

    <div class="form-group my-3 campo">
      <label for="fecha"> Seleccione una fecha</label>
      <input type="date" class="form-control" name="fecha" id="fecha">
    </div>

    <div class="form-group my-3 seleccion">
      <label> Categoria Seleccionada: <span style="font-weight:bolder;"  th:text="${categoria.nombre}"></span></label>
      <input name="idCategoria" hidden th:value="${categoria.id}">
    </div>
<!--    <div class="form-group my-3 seleccion">-->

<!--      <select name="categoria">-->

<!--        <option>Seleccionar Categoria</option>-->

<!--        <option th:each="cat : ${categoriaServicio}"-->
<!--                th:value="${cat}"-->
<!--                th:text="${cat.toString()}"-->
<!--        >-->
<!--      </select>-->
<!--    </div>-->


    <div class="form-group my-3 seleccion">
      <label id="idproveedor"></label>
      <select name="idProveedor" id="idproveedor">


        <option th:each="pro : ${proveedores}"
                th:value="${pro.getId()}"
                th:text="${pro.getNombreCompleto()}"
        >
      </select>
    </div>
    <label for="detalles"> Ingrese detalles del trabajo solicitado</label>
    <div class="form-group my-3 campo">
      <input type="text" class="form-control" name="detalles" id="detalles">
    </div>

    <button type="submit" class="btn btn-primary mt-3 boton">Registrar</button>
  </form>



  <section class=" text-center container">
    <div class="row mt-2">
      <div class="divVolver">
        <a th:if="${session.usuariosesion.rol.toString().equals('ADMIN')}" th:href="@{/inicio}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
      </div>
      <div class="divVolver">
        <a th:if="${!session.usuariosesion.rol.toString().equals('ADMIN')}" th:href="@{/iniciado/__${session.usuariosesion.id}__-__${session.usuariosesion.rol}__}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
      </div>
    </div>
  </section>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>