<header class="p-3 text-bg-dark">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <div class="header-container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!--            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">-->
            <!--                <img src="../static/assets/imagenes/Logo.png" alt="logo" width="100" height="90">SERVICE+-->
            <!--            </a>-->

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li th:if="${session.usuariosesion == null}"><a th:href="@{/}" class="nav-link px-2 text-secondary logo"><img th:src="@{/imagenes/Logo.png}" class="img-header" src="../static/imagenes/Logo.png" alt="logo"><b class="letra">  SERVICE+</b></a></li>
                <li th:if="${session.usuariosesion != null && session.usuariosesion.rol.toString().equals('ADMIN')}"><a th:href="@{/inicio}" class="nav-link px-2 text-secondary logo"><img th:src="@{/imagenes/Logo.png}" class="img-header" src="../static/imagenes/Logo.png" alt="logo"><b class="letra">  SERVICE+</b></a></li>
                <li th:if="${session.usuariosesion != null && !session.usuariosesion.rol.toString().equals('ADMIN')}"><a th:href="@{/iniciado/__${session.usuariosesion.id}__-__${session.usuariosesion.rol}__}" class="nav-link px-2 text-secondary logo"><img th:src="@{/imagenes/Logo.png}" class="img-header" src="../static/imagenes/Logo.png" alt="logo"><b class="letra">  SERVICE+</b></a></li>

                <!--        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
                <!--        <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
            </ul>

            <!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
            <!--                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
            <!--            </form>-->



            <div class="text-end" th:if="${session.usuariosesion != null}" >
                <button type="button" class="btn btn-outline-light me-2 botones"><a th:href="@{/usuario/perfil/__${session.usuariosesion.id}__/__${session.usuariosesion.rol}__}" style=" border-color: white;width:135px margin:auto; font-size: 19px;" class="nav-link px-2 text-black">Perfil</a></button>
                <button type="button" class="btn btn-warning botones"><a th:href="@{/logout}" style=" border-color: white;width:135px margin:auto; font-size: 19px;" class="nav-link px-2 text-black" >Cerrar Sesión</a></button>
            </div>
            <div class="text-end" th:if="${session.usuariosesion == null}">
                <button type="button" class="btn btn-outline-light me-2 botones"><a th:href="@{/login-usuario-proveedor}" style=" border-color: white;width:150px; font-size: 19px;" class="nav-link px-2 text-black"  >Iniciar Sesión</a></button>
                <button type="button" class="btn btn-warning botones"><a th:href="@{/registrar}" style=" border-color: white;width:150px; font-size: 19px;" class="nav-link px-2 text-black">Registrarse</a></button>
            </div>

        </div>
    </div>
</header>